<div class="top-wrapper">
	<div class="container">
		<div class="info">
			<h1>きょうの目標をコトバにしよう！</h1>
			<p>目標達成に向けサポートするアプリ</p>
			<div class="btn-box">
				<% if user_signed_in? %>
					<%= link_to("目標を宣言", new_target_path, {class: "btn"}) %>
				<% else %>
					<%= link_to "新規登録", new_user_registration_path, class: "btn" %>
				<% end %>
			</div>
		</div>
		<div class="pic">
			<%= image_tag 'fitness.png' %>
		</div>
	</div>
</div>

<%# アプリの特徴 %>
<section class="features">
	<h1>BUILDMEの特徴</h1>

	<div class="container">
		<section>
			<div class="pic">
				<%= image_tag 'meditation2.png' %>
			</div>
			<div class="info">
				<h2>5分間の瞑想からスタート！</h2>
				<p>目標を宣言する前に、5分間の瞑想から始めましょう！呼吸を整えて集中することで頭の中が整理されます。5分間のカウントダウンタイマーが終わったら、今日の目標を宣言しましょう！</p>

			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'time.png' %>
			</div>
			<div class="info">
				<h2>メモ書きでモヤモヤを吹っ飛ばそう！</h2>
				<p>悩んで何も進まない時はメモ書きを始めましょう！用意するのは紙とペンだけ！タイマーをセットし、時間の限り描き続けましょう！</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'finish.png' %>
			</div>
			<div class="info">
				<h2>カレンダーを見たら一目瞭然</h2>
				<p>マイページには今までの投稿記録と投稿に紐づいたカレンダーがあります。目標を投稿した日には、カレンダーに●印がつくので、目標を立てたかどうかは一目でわかります。</p>
			</div>
		</section>
	</div>
</section>

<%# 最近の投稿一覧 %>
<section class="targets-wrapper">

	<h1 class='title'>＼最近の投稿一覧／</h1>
	<p>コメントして応援することができます！</p>

	<ul class='targets--list'>
		<% @targets.each do |target|%>
			<li>
			<%= link_to target_path(target), class: 'target-link' do %>

				<div class="target--box">
					<div class="user--info">
						<div class="user--image">
							<% if target.user.image.attached? %>
								<%= image_tag target.user.image.variant(resize: '50x50'), class: 'user--img' %>
							<% else %>
								<i class="fas fa-user-circle fa-3x"></i>
							<% end %>
						</div>

						<div class="user--name">
							<%= target.user.nickname %>
						</div>
					</div>

					<div class="target--content">
						<%= target.content %>
					</div>

					<div class="target--date">
						<%= target.created_at.strftime("%H:%M  %Y/%m/%d") %>
					</div>
				</div>

			<% end %>
		</li>
	<% end %>
	</ul>

</section>


