<div class="top-wrapper">
	<div class="container">
		<div class="info">
			<h1>きょうの目標をコトバにしよう！</h1>
			<p>目標を立て、振り返りを行う<br>自分自身を鍛えるためのサービス</p>

			<div class="btn-box">
				<% if user_signed_in? %>
					<%= link_to("目標を宣言する", new_target_path, {class: "btn"}) %>
				<% else %>
					<%= link_to "新規登録", new_user_registration_path, class: "btn" %>
				<% end %>
			</div>
		</div>
		<div class="pic">
			<%= image_tag 'fitness.png' %>
		</div>
	</div>
</div>

<%# アプリの特徴 %>
<section class="features">
	<h2>BUILDMEの各機能のご説明</h2>
	<div class="container">
		<section>
			<div class="pic">
				<%= image_tag 'post.png' %>
			</div>
			<div class="info">
				<h3>目標を立て、宣言しよう！</h3>
				<p>１日の始まりに目標を立て、宣言(投稿)しましょう。宣言した目標はトップページに公開されます。<br>
				また、同ページの上方には５分間の瞑想タイマーが用意されています。瞑想で心をととのえてから、今日の目標をコトバにしましょう！</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'feedback.png' %>
			</div>
			<div class="info">
				<h3>きょうの振り返りをしよう！</h3>
				<p>１日の終わりに目標に対する振り返りをしましょう！目標は達成できましたか？達成できませんでしたか？その結果を活かして明日はどうするかまで考えましょう！<br>
				振り返り、改善することがとっても大切です。</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'finish.png' %>
			</div>
			<div class="info">
				<h3>他にもあなたを支える機能があります！</h3>
				<p>⚫︎立てた目標を管理する「マイページ機能」<br>
				⚫︎モヤモヤ解消のお手伝い「メモ書き機能」<br>
				⚫︎目標達成に向けともに頑張る仲間を応援する「コメント機能」<br>
				ぜひ、こちらのサポート機能もご活用ください。</p>
			</div>
		</section>
	</div>
</section>

<%# 最近の投稿一覧 %>
<section class="target-wrapper">
	<h2 class='title'>＼最近投稿された目標一覧／</h2>
	<p>コメントして応援することができます！</p>
	<ul class='target-lists'>
		<% @targets.each do |target|%>
			<%= render partial: "target_box", locals: { target: target } %>
		<% end %>
	</ul>
	<%= paginate @targets %>
</section>


