<div class="top-wrapper">
	<div class="container">
		<div class="info">
			<h1>きょうの目標をコトバにしよう！</h1>
			<p>朝起きてすぐやることをおすすめします</p>
			<div class="btn-box">
				<%= link_to("さっそくやってみる", new_target_path, {class: "btn"}) %>
			</div>
		</div>
		<div class="pic">
			<%= image_tag 'fitness.png' %>
		</div>
	</div>
</div>

<%# アプリの特徴 %>
<section class="features">
	<h1>Maccho APPの特徴</h1>

	<div class="container">
	
		<section>
			<div class="pic">
				<%= image_tag 'meditation2.png' %>
			</div>
			<div class="info">
				<h1>5分間の瞑想からスタート！</h1>
				<p>スタートボタンをクリックすると、5分間の瞑想が始まります。ここでは呼吸に集中して心を整えます。
				5分間が経過したら今日の目標を言語化し、投稿しましょう！</p>
				<%= link_to("さっそくやってみる", new_target_path, {class: "btn"}) %>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'time.png' %>
			</div>
			<div class="info">
				<h1>メモ書きでモヤモヤを吹っ飛ばそう！</h1>
				<p>悩んで何も進まない時はメモ書きを始めましょう！用意するのは紙とペンだけ！用意できたらタイマーをセットし、時間の限り描き続けましょう！</p>
				<%= link_to("メモ書き", memo_targets_path, {class: "btn"}) %>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'finish.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>マイページには今まで自分が投稿した目標が保存されています。</p>
			</div>
		</section>
		
	</div>
</section>

<%# 最近の投稿一覧 %>
<section class="targets-wrapper">

	<h1 class='title'>＼最近の投稿一覧／</h1>
	<p>コメントして応援することができます！</p>

	<ul class='targets--list'>
		<% @targets.each do |target|%>
			<li>
			<%= link_to target_path(target), class: 'target-link' do %>

				<div class="target--box">

					<div class="user--info">
						<div class="user--image">
							<% if target.user.image.attached? %>
								<%= image_tag target.user.image.variant(resize: '50x50'), class: 'user--img' %>
							<% else %>
								<i class="fas fa-user-circle fa-3x"></i>
							<% end %>
						</div>

						<div class="user--name">
							<%= target.user.nickname %>
						</div>
					</div>

					<div class="target--content">
						<%= target.content %>
					</div>

					<div class="target--date">
						<%= target.created_at.strftime("%H:%M  %Y/%m/%d") %>
					</div>

				</div>

			<% end %>
		</li>
	<% end %>
	</ul>

</section>

<section class="call-to-action">
	<h1>いますぐダウンロードしよう</h1>
	<%= link_to "新規登録", new_user_registration_path, class: "btn" %>
</section>
