<%= render "shared/header" %>

<div class="main">
	<div class="container">
		<div class="info">
			<h1>昨日の自分よりも今日の自分！</h1>
			<p>自分自身を鍛えるアプリ</p>
			<%= link_to("POWER", new_target_path, {class: "btn"}) %>
			<%# <a href="" class="btn">POWER</a> %>
		</div>
		<div class="pic">
			<%= image_tag 'fitness.png' %>
		</div>
	</div>
</div>

<%# アプリの特徴 %>
<section class="features">
	<h1>すごい特徴</h1>

	<div class="container">
	
		<section>
			<div class="pic">
				<%= image_tag 'morning.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'time.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'finish.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！</p>
			</div>
		</section>
		
	</div>
</section>

<section class="targets-lists">
	<h1>最新投稿の一覧</h1>

	<ul>
			<% @targets.each do |target|%>
				<li>
				<div class="target">
					<div class="upper-target">
						<div class="target-user">
						<!-- 投稿したユーザー名情報を出力する -->
							<%= target.user.nickname %>
						</div>
						
						<div class="target-date">
						<!-- 投稿した時刻を出力する -->
							<%= target.created_at %>
						</div>
					</div>

					<div class="lower-target">
						<div class="target-content">
						<!-- 投稿したメッセージ内容を記述する -->
							<%= target.content %>
						</div>
					</div>
				</div>
				</li>
			<% end %>
	</ul>

</section>

<%= render "shared/footer" %>
