<div class="top-wrapper">
	<div class="container">
		<div class="info">
			<h1>きょうの目標をコトバにしよう！</h1>
			<p>目標を立て、振り返りを行う<br>自分自身を鍛えるためのサービス</p>

			<div class="btn-box">
				<% if user_signed_in? %>
					<%= link_to("目標を宣言する", new_target_path, {class: "btn"}) %>
				<% else %>
					<%= link_to "新規登録", new_user_registration_path, class: "btn" %>
				<% end %>
			</div>
		</div>
		<div class="pic">
			<%= image_tag 'fitness.png' %>
		</div>
	</div>
</div>

<%# アプリの特徴 %>
<section class="features">
	<h2>BUILDMEの特徴</h2>
	<div class="container">
		<section>
			<div class="pic">
				<%= image_tag 'post.png' %>
			</div>
			<div class="info">
				<h3>今日の目標を立て、宣言しよう！</h3>
				<p>目標宣言ページでは、今日1日の目標を立て、宣言(投稿)します。宣言した目標はトップページに公開されます。
				また、目標をスムーズに立てられるように、5分間の瞑想から始めましょう。5分間のカウントダウンタイマーをご活用ください。</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'feedback.png' %>
			</div>
			<div class="info">
				<h3>今日1日の振り返りをしよう！</h3>
				<p>マイページには振り返りを投稿する機能があります。今日の目標を達成できたのか？できなかったのか？ではそれを活かして明日はどうするか？今日1日の振り返り、明日へ繋げましょう。</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'finish.png' %>
			</div>
			<div class="info">
				<h3>他にもあなたを支える機能があります！</h3>
				<p>「マイページ機能」で自己管理。目標宣言した日はカレンダーに●印が着くので一目瞭然。モヤモヤ悩んでしまった時には「メモ書き機能」をご活用ください。「コメント機能」を活用し、目標に向け頑張る人を応援しましょう！</p>
			</div>
		</section>
	</div>
</section>

<%# 最近の投稿一覧 %>
<section class="target-wrapper">
	<h2 class='title'>＼最近投稿された目標一覧／</h2>
	<p>コメントして応援することができます！</p>

	<ul class='target--lists'>
		<% @targets.each do |target|%>
			<li>
			<%= link_to target_path(target), class: 'target--link' do %>

				<div class="target--box">
					<div class="user--info">
						<div class="user--image">
							<% if target.user.image.attached? %>
								<%= image_tag target.user.image.variant(resize: '50x50'), class: 'user--img' %>
							<% else %>
								<i class="fas fa-user-circle fa-3x"></i>
							<% end %>
						</div>

						<div class="user--name">
							<%= target.user.nickname %>
						</div>
					</div>

					<div class="target--content">
						<%= target.content %>
					</div>

					<div class="target--date">
						<%= target.created_at.strftime("%H:%M  %Y/%m/%d") %>
					</div>
				</div>

			<% end %>
		</li>
	<% end %>
	</ul>

</section>


