<%= render "shared/header" %>

<div class="main">
	<div class="container">
		<div class="info">
			<h1>昨日の自分よりも今日の自分！</h1>
			<p>自分自身を鍛えるアプリ</p>
			<a href="" class="btn">ダウンロード</a>
		</div>
		<div class="pic">
			<%= image_tag 'fitness.png' %>
		</div>
	</div>
</div>

<%# アプリの特徴 %>
<section class="features">
	<h1>すごい特徴</h1>

	<div class="container">
	
		<section>
			<div class="pic">
				<%= image_tag 'morning.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'time.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！</p>
			</div>
		</section>

		<section>
			<div class="pic">
				<%= image_tag 'finish.png' %>
			</div>
			<div class="info">
				<h1>すごい</h1>
				<p>とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！とにかくすごい！</p>
			</div>
		</section>
		
	</div>
</section>

<section class="targets-lists">
	<h1>最新投稿の一覧</h1>

	<ul>
		<li>
			<%= image_tag 'image.png' %>
			<h2>はなこ：がんばるぞ！！</h2>
		</li>

		<li>
			<%= image_tag 'image.png' %>
			<h2>じろう：がんばるぞ！！</h2>
		</li>

		<li>
			<%= image_tag 'image.png' %>
			<h2>たろう：がんばるぞ！！</h2>
		</li>
	</ul>
</section>

<%= render "shared/footer" %>
