<div class="target-page">

		<div class="target---box">
			<div class="user---info">
				<%= link_to user_path(@target.user), class: 'target---link' do %>
					<div class="user---image">
						<% if @target.user.image.attached? %>
							<%= image_tag @target.user.image.variant(resize: '50x50'), class: 'user---img' %>
						<% else %>
							<i class="fas fa-user-circle fa-3x"></i>
						<% end %>
					</div>
					
					<div class="user---name">
						<%= @target.user.nickname %>
					</div>
				<% end %>

				<div class="menu---bar">
					<% if user_signed_in? && @target.user == current_user %>
						<%= link_to "削除", target_path, method: :delete %>
					<% end %>
				</div>
			</div>
				
			<div class="target---content">
				<%= @target.content %>
			</div>

			<div class="target---date">
				<%= @target.created_at.strftime("%H:%M  %Y/%m/%d ") %>
			</div>
		</div>

	<div class="target-comment">
		<% if user_signed_in? %>
			<%= form_with(model: [@target, @comment], local: true) do |form| %>
				<div class="comment-text">
					<%= form.text_area :text, placeholder: " コメントする", rows: "2" , class: 'comment-content'%>
				</div>
				<div class="comment-send">
					<%= form.submit "コメントする", class: "comment-btn"%>
				</div>
			<% end %>
		<% else %>
			<div class="comment-caution">
				<p><strong>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</strong></p>
			</div>
		<% end %>
		<div class="comments">
			<h2>＜コメント一覧＞</h2>
				<% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
		</div>
	</div>
	
</div>