	<div class="my-target-lists">
		<div class="my-calender">
				<div class="my-profile-name">
					<p><%= @user.nickname%>さんの投稿一覧</p>
					<%= image_tag @user.image.variant(resize: '100x100'), class: 'user-image' if @user.image.attached? %>
				</div>
				<div class="calender">
					<%= month_calendar events: @targets do |date, targets| %>
						<%= date.day %>
						<% targets.each do |target| %>
							<div class="post-sign">
								<%= "⚫︎" if target.present? %>
							</div>
						<% end %>
					<% end %>
				</div>
		</div>


		<% @targets.each do |target|%>
			<li>
				<%= link_to target_path(target), class: 'target-link' do %>
					<div class="container">
							<div class="target-info">
								<div class="target-user">
									<!-- 投稿したユーザー名情報を出力する -->
									<%= target.user.nickname %>
								</div>
								
								<div class="target-date">
									<!-- 投稿した時刻を出力する -->
									<%= target.created_at.strftime("%H:%M  %Y/%m/%d") %>
								</div>
							</div>

							<div class="lower-target">
								<div class="target-content">
									<!-- 投稿したメッセージ内容を記述する -->
									<%= target.content %>
								</div>
							</div>
					</div>
				<% end %>
			</li>
		<% end %>
	</div>