<div class="my-page">
	<div class="container">

		<%# プロフィール %>
		<section class="my-profile">
			<p><%= @user.nickname%>さんのマイページ</p>
			<% if @user.image.attached? %>
				<%= image_tag @user.image.variant(resize: '160x160'), class: 'user-image'  %>
			<% else %>
				<i class="fas fa-user-circle user-image fa-8x"></i>
			<% end %>
			<ul class="user-menu">
				<% if @user.id == current_user.id %>
					<li><%= link_to "アカウントの編集", edit_user_path(current_user), class: "user-edit" %></li>
					<li><%= link_to "一日を振り返る", new_review_path(current_user), class: "user-review"  %></li>
				<% end %>
			</ul>
		</section>

		<%# カレンダー %>
		<section class="calender">
			<%= month_calendar events: @targets do |date, targets| %>
				<%= date.day %>
				<%# 目標を投稿した日は●印がつく %>
				<% targets.each do |target| %>
					<div class="post-sign">
						<%= "⚫︎" if target.present? %>
					</div>
				<% end %>
			<% end %>
		</section>
	</div>

	<%# タブメニュー %>
	<div class="tab-container">
    <ul class="tab-menu">
      <li><a href="#" class="active" data-id="tab-target">目標一覧</a></li>
      <li><a href="#" data-id="review">振り返り一覧</a></li>
    </ul>

		<%# タブコンテンツ：目標一覧 %>
    <section class="tab-content active" id="tab-target">
			<ul class='target-lists'>
				<% @targets.each do |target|%>
					<li>
						<%= link_to target_path(target), class: 'target-link' do %>
							<div class="target-box">
								<div class="user-info">
									<div class="user-image">
										<% if @user.image.attached? %>
											<%= image_tag @user.image.variant(resize: '50x50'), class: 'user-img' %>
										<% else %>
												<i class="fas fa-user-circle fa-3x"></i>
										<% end %>
									</div>
									<div class="user-name">
										<%= target.user.nickname %>
									</div>
								</div>
								<div class="target-content">
									<%= simple_format(h(target.content)) %>
								</div>
								<div class="target-date">
									<%= target.created_at.strftime("%H:%M  %Y/%m/%d") %>
								</div>
							</div>
						<% end %>
					</li>
				<% end %>
			</ul>
    </section>

		<%# タブコンテンツ：振り返り一覧 %>
    <section class="tab-content" id="review">
      <ul class='review-lists'>
				<% @reviews.each do |review|%>
					<li>
						<div class="review-box">
							<div class="review-title">
								<p>きょうの目標を<span>「<%= review.achievement.name %>」</span></p>
							</div>
							<div class="review-content">
								<%= review.text %>
							</div>
							<div class="review-date">
								<%= review.created_at.strftime("%H:%M  %Y/%m/%d") %>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
    </section>
  </div>

</div>