<header>
		<div class="header-left">
			<h1><%= link_to("MacchoAPP", root_path, class: "header-title") %></h1>
		</div>

		<% if user_signed_in? %>
			<div class="header-right">
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
				<%= link_to current_user.nickname, user_path(current_user) %>
			</div>
		<% else %>
			<div class="header-right">
				<%= link_to "ログイン", new_user_session_path %>
				<%= link_to "新規登録", new_user_registration_path %>
			</div>
		<% end %>

</header>