<header>
	
	<div class="heading">
		<div>
			<h1><%= link_to image_tag("logo.png"), root_path %></h1>
		</div>
		<div class="training-menu" id="training">
			<p>トレーニング一覧</p>
		</div>
	</div>

	<ul class="training-lists hidden" id="pull--down">
		<li class="pull-down--list"><%= link_to "目標宣言", new_target_path, class: "pull-down--custom" %></li>
		<li class="pull-down--list"><%= link_to "メモ書き", memo_targets_path, class: "pull-down--custom" %></li>
		<li class="pull-down--list"><%= link_to "振り返り", new_review_path, class: "pull-down--custom" %></li>
	</ul>

	<ul class="nav-lists">
		<div class="nav-list">
			<% if user_signed_in? %>
				<li class="current-user-name" id="lists">
					<%= current_user.nickname %>
				</li>
				<li class="contact">
					<div id="open">
						<i class="far fa-question-circle fa-lg"></i>
					</div>
					<div id="mask" class="hidden"></div>
					<section id="modal" class="hidden">
						<h1>お問い合わせ</h1>
						<p>ご意見やご要望は<%= link_to "こちら", "https://forms.gle/egq6KQn8gX3Ko1AH6" %>からお問い合わせください。</p>
					<div id="close">閉じる</div>
					</section>
				</li>
			<% else %>
				<li>
					<%= link_to "ログイン", new_user_session_path, class: "sign-up" %>
				</li>
				<li>
					<%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
				</li>
			<% end %>
		</div>
	</ul>
	<% if user_signed_in? %>
		<ul class="show-lists hidden" id="pull-down">
			<li class="pull-down-list"><%= link_to "マイページ", user_path(current_user), class: "pull-down-custom" %></li>
			<li class="pull-down-list"><%= link_to "アカウントの編集", edit_user_path(current_user), class: "pull-down-custom" %></li>
			<li class="pull-down-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "pull-down-custom" %></li>
		</ul>
	<% end %>
</header>